*{
    background-color: rgb(236,232,237);
}

/* #name{
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    animation: typing 15s steps(100) infinite;
} */
.header {
    display: grid;
    place-items: center;
  }
  
#name {
    width: 22ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-family: monospace;
    font-size: 4em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 40px;
    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #2d6898;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    margin-right: 10px;
    border-radius:10px;
}

.box1{
    background-color: white;
    border: 1px solid  blue;
}

.box1:hover{
    background-color: rgb(236,232,237);
    color: black;
}

.box2{
    background-color: white;
    border: 1px solid  blue;
}
.box2:hover{
    background-color: rgb(236,232,237);
}

.box3{
    background-color: white;
    border: 1px solid  blue;
}
.box3:hover{
    background-color: rgb(236,232,237);
    color: black
}

.bl{
    border-left: 3px solid black;
}

.bb{
    border-bottom: 3px solid black;
}

.br{
    border-right: 3px solid black;
}

.bt{
    border-top: 3px solid black;
}